<div class="col-md-3">
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= image_tag("http://placehold.it/350x350", class: 'img-responsive') %>
        <%= link_to bookmark.url, bookmark.url %>
        <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
      </h4>
    </div>
  </div>
</div>
